<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${tittle}">Insert title here</title>
</head>
<body>
	<h1 th:text="${tittle}"></h1>

	<div>
		<a th:href="@{/show_all}">volver</a>
		<form th:action="@{/form}" method="post" th:object="${product}">
			<div><label for="name">Nombre</label>
				<div><input type="text" th:field="*{name}" /></div>
			</div>
			<div><label for="price">Precio</label>
				<div><input type="text" th:field="*{price}" /></div>
			</div>
			<div><label for="createAt">Fecha</label>
				<div><input type="date" th:field="*{createAt}" /></div>
			</div>
				<div><input type="submit" value="Crear"></div>
			</div>
		</form>
	</div>

</body>
</html>